/* Global */

body {
  background-color: #363940;
}

#root {
  width: 90%;
  margin: 0 auto;
}

.main__employee {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

a,
p,
h1,
h2,
h3,
label,
input,
legend {
  color: #fdffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Form Section */
.form__title {
  margin: 30px 0 0 0;
  font-size: 24px;
  font-weight: 0;
}

.form__section {
  display: flex;
}

/* Form Field */

.form__field {
  margin: 0 15px;
}

.form__field label {
  display: block;
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 10px;
  padding-left: 10px;
}

.form__field input,
.form__field select {
  color: #38393b;
  font-size: 1em;
  border-radius: 10px;
  background-color: #f1f4f8;
  padding: 8px 10px;
  border: none;
}

/* Btn */

.btn__container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn__container button {
  background-color: #6b7e0f;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #root {
    width: 95%;
  }

  .form__section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  .form__section > div {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 30px);
    justify-content: center;
    max-width: calc(50% - 30px);
  }
  .form__field > input {
    height: 30px;
    padding: 8px 10px;
  }

  .form__field > select {
    height: 46px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  #root {
    width: 98%;
  }

  .main__employee {
    margin-top: 10px;
  }

  .form__section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  .form__section > div {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 30px);
    justify-content: center;
    max-width: calc(50% - 30px);
  }
  .form__field > input {
    height: 20px;
    padding: 8px 10px;
  }

  .form__field > select {
    height: 36px;
  }
}

@media screen and (max-width: 425px) {
  #root {
    width: 98%;
  }

  .main__employee {
    margin-top: 0px;
  }

  .form__section {
    display: flex;
    flex-direction: column;
  }

  .form__field {
    width: 90%;
  }
  .form__field > input {
    height: 20px;
    padding: 8px 10px;
    width: 90%;
  }

  .form__field > select {
    height: 36px;
    width: calc(90% + 20px);
  }

  .btn__container button,
  .modal button
  {
    padding: 8px 16px;
  }

  /* Modal */

  .modal {
    height: 175px;
    padding: 15px 0;
  }
  .modal img{
    display: none;
  }
  .modal h2 {
    font-size: 36px;
  }
  .modal p {
    font-size: 18px;
    text-align: center;
  }
}
