.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header h1{
    font-size: 38px;
    margin: 0;
}

.header h2{
    font-size: 32px;
    margin: 0;
}

.header a{
    font-size: 28px;
    text-decoration: none;
    font-weight: 0;
}

.header .active{
    color: #93ad18;
    font-weight: 600;
}

.header .link:hover{
    color: #93ad18;
    filter: brightness(75%);
}

.header__links a:nth-child(1){
    margin-right: 20px;
}

/* Média Queries */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header h1{
      font-size: 32px;
    }
  
    .header h2{
      font-size: 28px;
    }
  
    .header a{
      font-size: 22px;
    }
} 

@media screen and (min-width: 425px) and (max-width: 768px) {
    .header h1{
      font-size: 20px;
    }
  
    .header h2{
      font-size: 18px;
    }
  
    .header a{
      font-size: 16px;
    }

    .header__links a:nth-child(1) {
        margin-right: 5px;
    }
}  

@media screen and (max-width: 425px) {
    .header h1{
      font-size: 24px;
    }
  
    .header h2{
      display: none;
    }
  
    .header a{
      font-size: 14px;
    }

    .header__links a:nth-child(1) {
        margin-right: 5px;
    }
}  